.e19_165 { 
	overflow:hidden;
}
.e19_165 { 
	background-color:rgba(255, 255, 255, 1);
	width:1481px;
	height:1024px;
	position:absolute;
}
.e19_166 { 
	width:1920px;
	height:1104px;
	position:absolute;
	left:-220px;
	top:-80px;
	background-image:url(images/forest_7253415_1920_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e19_167 { 
	background-color:rgba(219.0000021457672, 234.00000125169754, 229.00000154972076, 1);
	width:1481px;
	height:5px;
	position:absolute;
	left:0px;
	top:88px;
}
.e19_183 { 
	color:rgba(255, 255, 255, 0.75);
	width:561px;
	height:68px;
	position:absolute;
	left:460px;
	top:118px;
	font-family:Creepster Caps;
	text-align:center;
	font-size:96px;
	letter-spacing:0;
}
.e19_185 { 
	background-color:rgba(70.05416572093964, 81.99381664395332, 91.37499645352364, 0.30000001192092896);
	width:209px;
	height:60px;
	position:absolute;
	left:250px;
	top:243px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e19_186 { 
	background-color:rgba(70.05416572093964, 81.99381664395332, 91.37499645352364, 0.30000001192092896);
	width:209px;
	height:60px;
	position:absolute;
	left:247px;
	top:627px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e21_207 { 
	background-color:rgba(70.05416572093964, 81.99381664395332, 91.37499645352364, 0.75);
	width:581px;
	height:230px;
	position:absolute;
	left:65px;
	top:706px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e21_207 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e21_208 { 
	background-color:rgba(70.05416572093964, 81.99381664395332, 91.37499645352364, 0.75);
	width:581px;
	height:230px;
	position:absolute;
	left:796px;
	top:706px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e21_208 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e30_5 { 
	border:2px solid rgba(80.74999898672104, 5.046874936670065, 5.046874936670065, 1);
}
.e30_5 { 
	width:281px;
	height:212px;
	position:absolute;
	left:806px;
	top:715px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	background-image:url(images/450_1000_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e21_209 { 
	background-color:rgba(70.05416572093964, 81.99381664395332, 91.37499645352364, 0.75);
	width:581px;
	height:230px;
	position:absolute;
	left:61px;
	top:328px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e21_209 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e29_2 { 
	border:2px solid rgba(80.74999898672104, 5.046874936670065, 5.046874936670065, 1);
}
.e29_2 { 
	width:268px;
	height:212px;
	position:absolute;
	left:367px;
	top:337px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	background-image:url(images/dross_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e21_210 { 
	background-color:rgba(70.05416572093964, 81.99381664395332, 91.37499645352364, 0.75);
	width:581px;
	height:230px;
	position:absolute;
	left:796px;
	top:324px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e21_210 { 
	border:2px solid rgba(0, 0, 0, 1);
}
.e29_4 { 
	border:2px solid rgba(80.74999898672104, 5.046874936670065, 5.046874936670065, 1);
}
.e29_4 { 
	width:267px;
	height:212px;
	position:absolute;
	left:1101px;
	top:333px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	background-image:url(images/images_1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e22_211 { 
	border:2px solid rgba(80.74999898672104, 5.046874936670065, 5.046874936670065, 1);
}
.e22_211 { 
	width:276.8888854980469px;
	height:212px;
	position:absolute;
	left:76px;
	top:337px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	background-image:url(images/fanta_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e19_187 { 
	background-color:rgba(70.05416572093964, 81.99381664395332, 91.37499645352364, 0.30000001192092896);
	width:209px;
	height:60px;
	position:absolute;
	left:991px;
	top:239px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e19_188 { 
	background-color:rgba(70.05416572093964, 81.99381664395332, 91.37499645352364, 0.30000001192092896);
	width:209px;
	height:60px;
	position:absolute;
	left:988px;
	top:627px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e19_191 { 
	color:rgba(255, 255, 255, 0.6499999761581421);
	width:209px;
	height:58px;
	position:absolute;
	left:251px;
	top:243px;
	font-family:Creepster Caps;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e19_192 { 
	color:rgba(255, 255, 255, 0.6499999761581421);
	width:209px;
	height:58px;
	position:absolute;
	left:247px;
	top:629px;
	font-family:Creepster Caps;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e19_193 { 
	color:rgba(255, 255, 255, 0.6499999761581421);
	width:209px;
	height:58px;
	position:absolute;
	left:991px;
	top:237px;
	font-family:Creepster Caps;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e19_194 { 
	color:rgba(255, 255, 255, 0.6499999761581421);
	width:209px;
	height:58px;
	position:absolute;
	left:988px;
	top:627px;
	font-family:Creepster Caps;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e21_205 { 
	border:2px solid rgba(80.74999898672104, 5.046874936670065, 5.046874936670065, 1);
}
.e21_205 { 
	width:270px;
	height:212.37155151367188px;
	position:absolute;
	left:76px;
	top:715px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	background-image:url(images/descarga_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e21_206 { 
	border:2px solid rgba(80.74999898672104, 5.046874936670065, 5.046874936670065, 1);
}
.e21_206 { 
	width:267.8095397949219px;
	height:212px;
	position:absolute;
	left:367px;
	top:715px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	background-image:url(images/slendermanog2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e29_3 { 
	border:2px solid rgba(80.74999898672104, 5.046874936670065, 5.046874936670065, 1);
}
.e29_3 { 
	width:281.02325439453125px;
	height:212px;
	position:absolute;
	left:806px;
	top:333px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	background-image:url(images/rake1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e30_6 { 
	border:2px solid rgba(80.74999898672104, 5.046874936670065, 5.046874936670065, 1);
}
.e30_6 { 
	width:267px;
	height:212px;
	position:absolute;
	left:1101px;
	top:715px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	background-image:url(images/imagenes_para_portadas___25_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e38_178 { 
	background-color:rgba(0, 0, 0, 1);
	width:1481px;
	height:88px;
	position:absolute;
	left:0px;
	top:0px;
}
.e40_45 { 
	width:236px;
	height:55px;
	position:absolute;
	left:0px;
	top:19px;
}
.e38_179 { 
	background-image:linear-gradient(0deg, rgba(189.00000393390656, 206.0000029206276, 231.00000143051147, 1) 0%,rgba(4.570763809606433, 5.349780432879925, 5.9618663135915995, 0.8599735498428345) 9.89583358168602%,rgba(5.604333048686385, 6.559505369514227, 7.309999773278832, 0.5) 86.97916865348816%,rgba(189.00000393390656, 206.0000029206276, 231.00000143051147, 1) 100%) ;
	width:181px;
	height:52px;
	position:absolute;
	left:27px;
	top:1px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e38_180 { 
	width:55px;
	height:55px;
	position:absolute;
	left:181px;
	top:0px;
	background-image:url(images/__removebg_preview_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e38_181 { 
	color:rgba(255, 255, 255, 1);
	width:215px;
	height:45px;
	position:absolute;
	left:0px;
	top:15px;
	font-family:Jacques Francois Shadow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	text-decoration: none;
}
.e38_182 { 
	background-color:rgba(70.05416572093964, 81.99381664395332, 91.37499645352364, 1);
	width:340px;
	height:31px;
	position:absolute;
	left:251px;
	top:29px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e38_183 { 
	width:27px;
	height:27px;
	position:absolute;
	left:264px;
	top:32px;
	background-image:url(images/lupa_k_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e38_184 { 
	color:rgba(255, 255, 255, 1);
	width:155px;
	height:49px;
	position:absolute;
	left:606px;
	top:20px;
	font-family:Crimson Text;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	text-decoration: none;
}
.e38_185 { 
	color:rgba(255, 255, 255, 1);
	width:155px;
	height:49px;
	position:absolute;
	left:781px;
	top:20px;
	font-family:Crimson Text;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	text-decoration: none;
}
.e38_186 { 
	color:rgba(255, 255, 255, 1);
	width:155px;
	height:49px;
	position:absolute;
	left:1135px;
	top:20px;
	font-family:Crimson Text;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	text-decoration: none;
}
.e38_187 { 
	color:rgba(255, 255, 255, 1);
	width:155px;
	height:49px;
	position:absolute;
	left:960px;
	top:20px;
	font-family:Crimson Text;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	text-decoration: none;
}
.e38_188 { 
	color:rgba(255, 255, 255, 1);
	width:155px;
	height:49px;
	position:absolute;
	left:1310px;
	top:20px;
	font-family:Crimson Text;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	text-decoration: none;
}
