.e1_3 { 
	overflow:hidden;
}
.e1_3 { 
	background-color:rgba(255, 255, 255, 1);
	width:1481px;
	height:1024px;
	position:absolute;
}
.e12_76 { 
	width:1920px;
	height:1104px;
	position:absolute;
	left:-220px;
	top:-80px;
	background-image:url(images/forest_7253415_1920_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e5_2 { 
	background-color:rgba(219.0000021457672, 234.00000125169754, 229.00000154972076, 1);
	width:1481px;
	height:5px;
	position:absolute;
	left:0px;
	top:88px;
}
.e2_12 { 
	background-color:rgba(0, 0, 0, 1);
	width:1481px;
	height:88px;
	position:absolute;
	left:0px;
	top:0px;
}
.e40_9 { 
	width:236px;
	height:55px;
	position:absolute;
	left:0px;
	top:19px;
}
.e13_78 { 
	background-image:linear-gradient(0deg, rgba(189.00000393390656, 206.0000029206276, 231.00000143051147, 1) 0%,rgba(4.570763809606433, 5.349780432879925, 5.9618663135915995, 0.8599735498428345) 9.89583358168602%,rgba(5.604333048686385, 6.559505369514227, 7.309999773278832, 0.5) 86.97916865348816%,rgba(189.00000393390656, 206.0000029206276, 231.00000143051147, 1) 100%) ;
	width:181px;
	height:52px;
	position:absolute;
	left:27px;
	top:1px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e14_120 { 
	width:55px;
	height:55px;
	position:absolute;
	left:181px;
	top:0px;
	background-image:url(images/__removebg_preview_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_79 { 
	color:rgba(255, 255, 255, 1);
	width:215px;
	height:45px;
	position:absolute;
	left:0px;
	top:15px;
	font-family:Jacques Francois Shadow;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
	text-decoration: none;
}
.e13_109 { 
	background-color:rgba(70.05416572093964, 81.99381664395332, 91.37499645352364, 1);
	width:340px;
	height:31px;
	position:absolute;
	left:251px;
	top:29px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e14_121 { 
	width:27px;
	height:27px;
	position:absolute;
	left:264px;
	top:32px;
	background-image:url(images/lupa_k_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e14_115 { 
	color:rgba(255, 255, 255, 1);
	width:155px;
	height:49px;
	position:absolute;
	left:606px;
	top:20px;
	font-family:Crimson Text;
	text-align:center;
	font-size:20px;
	text-decoration: none;
	letter-spacing:0;
}
.e38_177 { 
	color:rgba(255, 255, 255, 1);
	width:155px;
	height:49px;
	position:absolute;
	left:781px;
	top:20px;
	font-family:Crimson Text;
	text-align:center;
	font-size:20px;
	text-decoration: none;
	letter-spacing:0;
}
.e14_117 { 
	color:rgba(255, 255, 255, 1);
	width:155px;
	height:49px;
	position:absolute;
	left:960px;
	top:20px;
	font-family:Crimson Text;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	text-decoration: none;
}
.e14_118 { 
	color:rgba(255, 255, 255, 1);
	width:155px;
	height:49px;
	position:absolute;
	left:1135px;
	top:20px;
	font-family:Crimson Text;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	text-decoration: none;
}
.e14_119 { 
	color:rgba(255, 255, 255, 1);
	width:155px;
	height:49px;
	position:absolute;
	left:1310px;
	top:20px;
	font-family:Crimson Text;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
	text-decoration: none;
}
.e17_145 { 
	color:rgba(255, 255, 255, 0.75);
	width:561px;
	height:68px;
	position:absolute;
	left:460px;
	top:118px;
	font-family:Creepster Caps;
	text-align:center;
	font-size:96px;
	letter-spacing:0;
}
.e18_154 { 
	background-color:rgba(70.05416572093964, 81.99381664395332, 91.37499645352364, 0.75);
	width:220px;
	height:45px;
	position:absolute;
	left:1248px;
	top:964px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e15_126 { 
	width:40px;
	height:40px;
	position:absolute;
	left:1259px;
	top:967px;
	background-image:url(images/facebook_11_1_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e15_123 { 
	width:51px;
	height:50px;
	position:absolute;
	left:1357px;
	top:962px;
	background-image:url(images/1384028_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e15_124 { 
	width:40px;
	height:40px;
	position:absolute;
	left:1312px;
	top:967px;
	background-image:url(images/e3a2ae6fa1ab3d789940f1a7ac229ed8_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e15_122 { 
	width:40px;
	height:40px;
	position:absolute;
	left:1417px;
	top:967px;
	background-image:url(images/104102_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e18_146 { 
	background-color:rgba(70.05416572093964, 81.99381664395332, 91.37499645352364, 0.75);
	width:867px;
	height:125px;
	position:absolute;
	left:307px;
	top:250px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.e17_131 { 
	color:rgba(255, 255, 255, 1);
	width:867px;
	height:125px;
	position:absolute;
	left:307px;
	top:255px;
	font-family:Creepster Caps;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e18_158 { 
	color:rgba(255, 255, 255, 1);
	width:881px;
	height:104px;
	position:absolute;
	left:300px;
	top:920px;
	font-family:Creepster Caps;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e19_161 { 
	transform: rotate(33.94264631469504deg);
	width:225px;
	height:94px;
	position:absolute;
	left:1148.486083984375px;
	top:745px;
	background-image:url(images/images__1__removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e19_162 { 
	transform: rotate(14.458826073925186deg);
	width:250.00001525878906px;
	height:104.44444274902344px;
	position:absolute;
	left:1259.078125px;
	top:659px;
	background-image:url(images/images__1__removebg_preview_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e19_163 { 
	transform: rotate(-14.073086287406793deg);
	width:136.21145629882812px;
	height:57.49410629272461px;
	position:absolute;
	left:1349px;
	top:911.12109375px;
	background-image:url(images/images__1__removebg_preview_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e19_164 { 
	transform: rotate(-14.073086287406793deg);
	width:302.15484619140625px;
	height:150.59066772460938px;
	position:absolute;
	left:1115px;
	top:523.4718017578125px;
	background-image:url(images/images__1__removebg_preview_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
/*BOTONES
.e18_150 { 
	color:rgba(255, 255, 255, 1);
	width:209px;
	height:58px;
	position:absolute;
	left:366px;
	top:512px;
	font-family:Crimson Text;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
.e18_151 { 
	color:rgba(255, 255, 255, 1);
	width:209px;
	height:58px;
	position:absolute;
	left:366px;
	top:642px;
	font-family:Crimson Text;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e18_152 { 
	color:rgba(255, 255, 255, 1);
	width:209px;
	height:58px;
	position:absolute;
	left:906px;
	top:508px;
	font-family:Crimson Text;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e18_156 { 
	color:rgba(255, 255, 255, 1);
	width:209px;
	height:58px;
	position:absolute;
	left:906px;
	top:640px;
	font-family:Crimson Text;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e38_174 { 
	color:rgba(255, 255, 255, 1);
	width:209px;
	height:58px;
	position:absolute;
	left:636px;
	top:796px;
	font-family:Crimson Text;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
}*/
.Inicio {
	width: fit-content;
	min-width: 180px;
	height: 65px;
	padding: 10px;
	position:absolute;
	left:366px;
	top:500px;
	color: white;
	border-radius: 12px;
	border: 2.5px solid #000000;
	box-shadow: 0px 0px 20px -20px;
	cursor: pointer;
	font-size: 25px;
	background-color: rgb(69, 118, 183);
	transition: all 0.2s ease-in-out 0ms;
	user-select: none;
	font-family:Crimson Text;
	text-align: center;
	text-decoration: none;
	opacity: 40%;
  }
.Inicio:hover {
	background-color: #3a54b2;
	box-shadow: 0px 0px 20px -18px;
	opacity: 70%;
}
  
.Inicio:active {
	transform: scale(0.95);
}
.Video {
	width: fit-content;
	min-width: 180px;
	height: 65px;
	padding: 10px;
	position:absolute;
	left:366px;
	top:642px;
	color: white;
	border-radius: 12px;
	border: 2.5px solid #000000;
	box-shadow: 0px 0px 20px -20px;
	cursor: pointer;
	font-size: 25px;
	background-color: rgb(69, 118, 183);
	transition: all 0.2s ease-in-out 0ms;
	user-select: none;
	font-family:Crimson Text;
	text-align: center;
	text-decoration: none;
	opacity: 40%;
  }
.Video:hover {
	background-color: #3a54b2;
	box-shadow: 0px 0px 20px -18px;
	opacity: 70%;
}
.Video:active {
	transform: scale(0.95);
}
.Audio {
	width: fit-content;
	min-width: 180px;
	height: 65px;
	padding: 10px;
	position:absolute;
	left:906px;
	top:500px;
	color: white;
	border-radius: 12px;
	border: 2.5px solid #000000;
	box-shadow: 0px 0px 20px -20px;
	cursor: pointer;
	font-size: 25px;
	background-color: rgb(69, 118, 183);
	transition: all 0.2s ease-in-out 0ms;
	user-select: none;
	font-family:Crimson Text;
	text-align: center;
	text-decoration: none;
	opacity: 40%;
  }
.Audio:hover {
	background-color: #3a54b2;
	box-shadow: 0px 0px 20px -18px;
	opacity: 70%;
}
.Audio:active {
	transform: scale(0.95);
}
.Historia {
	width: fit-content;
	min-width: 180px;
	height: 65px;
	padding: 10px;
	position:absolute;
	left:906px;
	top:642px;
	color: white;
	border-radius: 12px;
	border: 2.5px solid #000000;
	box-shadow: 0px 0px 20px -20px;
	cursor: pointer;
	font-size: 25px;
	background-color: rgb(69, 118, 183);
	transition: all 0.2s ease-in-out 0ms;
	user-select: none;
	font-family:Crimson Text;
	text-align: center;
	text-decoration: none;
	opacity: 40%;
  }
.Historia:hover {
	background-color: #3a54b2;
	box-shadow: 0px 0px 20px -18px;
	opacity: 70%;
}
.Historia:active {
	transform: scale(0.95);
}
.Acerca {
	width: fit-content;
	min-width: 180px;
	height: 65px;
	padding: 10px;
	position:absolute;
	left:636px;
	top:796px;
	color: white;
	border-radius: 12px;
	border: 2.5px solid #000000;
	box-shadow: 0px 0px 20px -20px;
	cursor: pointer;
	font-size: 25px;
	background-color: rgb(69, 118, 183);
	transition: all 0.2s ease-in-out 0ms;
	user-select: none;
	font-family:Crimson Text;
	text-align: center;
	text-decoration: none;
	opacity: 40%;
  }
.Acerca:hover {
	background-color: #3a54b2;
	box-shadow: 0px 0px 20px -18px;
	opacity: 70%;
}
.Acerca:active {
	transform: scale(0.95);
}
